@import "tailwindcss";

@import "tailwindcss";

:root {
  --bg-primary: #070b14;
  --bg-secondary: #0f172a;

  --accent-primary: #00d4ff;
  --accent-glow: #38d9ff;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --border-primary: rgba(255, 255, 255, 0.08);
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 80px 80px;
  pointer-events: none;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

.font-space {
  font-family: "Space Grotesk", sans-serif;
}

.heading-xl {
  font-family: "Space Grotesk";
  font-size: clamp(4rem, 8vw, 7rem);
  line-height: 0.95;
  font-weight: 700;
}

.heading-lg {
  font-family: "Space Grotesk";
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
}

.body-lg {
  font-size: 1.125rem;
  line-height: 1.8;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 40s linear infinite;
}

.marquee-reverse {
  animation: marquee 40s linear infinite reverse;
}

.marquee:hover,
.marquee-reverse:hover {
  animation-play-state: paused;
}
